* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: grid;
    grid-template-areas:
      "header header"
      "sidebar main-content"
      "footer footer";
      grid-template-columns: 1fr 3fr; 
      grid-template-rows: auto 1fr auto; 
    gap: 20px;
    height: 100vh;
  }
  
  .header {
    grid-area: header;
    background-color: #fff200;
    padding: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  
  .sidebar {
    grid-area: sidebar;
    background-color: #73fa62;
    padding: 20px;
  }
  
  .main-content {
    grid-area: main-content;
    background-color: #e25d5d;
    padding: 20px;
  }
  
  .footer {
    grid-area: footer;
    background-color: #f8a94f;
    color: white;
    text-align: center;
    padding: 10px;
  }