body{ 
    background-color: black;
}

h2 {color: rgb(90, 88, 88);}
p {color: rgb(4, 106, 4);
text-align: left;
}

ul {color: grey;}

ol{color: rgb(41, 93, 41) ;}

a { color: green;
font-size: 1.5em;}

button {
    width: 15em;
    height: 3em;
    
}


































